:root {
  --accent: #726b67;
  --accent-light: #9fa6a7;
  --pure-white: #ffef0d;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--accent, #5c3f34);
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 60px 0;
}

.section-title {
  color: #2b2421;
  text-transform: uppercase;
  text-align: center;
}

.header {
  background-color: var(--accent, #5c3f34);
}

.header a {
  color: var(--pure-white, #eeb727);
  text-decoration: none;
}

.header-nav {
  font: bold;
  padding: 11px 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header-logo {
  width: 80px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: 3px;
}

.header-logo img {
  width: 100%;
  height: 60%;
  object-fit: contain;
}

.header-menu {
  /* width: 70%;
  flex-wrap: wrap;
  gap: 20px; */
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header-menu-link {
  font-size: 16px;
  line-height: 16px;
  padding: 15px;
  text-transform: uppercase;
  transition: background-color 0.4s;
}

.header-menu-link:hover {
  color: #ffffff;
  background-color: var(--accent-light, #eeb727);
}

.intro {
  padding: 60px 0;
}

.intro-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-left {
  width: 30%;
}

.intro-img {
  width: 80%;
  border-radius: 5% 5%;
}

.intro-right {
  color: #2b2421;
  width: 60%;
}

.intro-right h1 {
  margin: 0 0 10px;
  color: #2b2421;
}

.intro-right h2 {
  margin: 0 0 10px;
  color: #2b2421;
}

.contacts {
  margin-bottom: 60;
}
.contacts ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ul {
  color: #2b2421;
}

.contacts li {
  text-align: center;
}

.skills {
  color: var(--pure-white);
  background-color: var(--accent);
}

.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills li {
  padding: 10px 25px;
  background-color: var(--accent-light);
  border-radius: 5%;
}

.code-example {
  text-align: center;
}

.code-example p {
  font-style: italic;
}

.code-example b {
  font-style: normal;
}

.code-example pre {
  border-radius: 0.5em;
  background-color: var(--accent);
  margin: 0 auto;
  width: 60%;
  text-align: left;
  font-size: 1.2em;
  color: var(--pure-white);
}

.portfolio {
  padding: 2%;
  margin: 0;
  background-color: var(--accent);
  text-align: center;
}

.my-1,
.my-2 {
  color: #2074f3;
  display: block;
}

.rabota {
  display: flex;
}

.flex-1 img {
  width: 90%;
  border-radius: 0.5em;
}
.flex-2 img {
  width: 90%;
  border-radius: 0.5em;
}

.language {
  margin-bottom: 60;
}
.language ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.language li {
  text-align: center;
}

.education {
  margin-bottom: 60;
}

.education ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.education li {
  text-align: center;
}

.footer {
  background-color: var(--accent);
  text-align: center;
  margin: 0;
  padding: 1%;
}

.footer b {
  color: #2074f3;
}
